:root {
    --primary-font: Roboto, sans-serif;
    --secondary-font: Montserrat, sans-serif;
    --font-xl: 4.5em;
    --font-lg: 3.75em;
    --font-md: 3em;
    --font-sm: 1.5em;
    --font-xs: 1.125em;
    --font-xxs: 1em;
    --color-darkest: #2e323f;
    --color-darker: #3b4050;
    --color-lightgrey: #D3D3D3;
    --color-light-md: #efefef;
    --color-light: #ffffff;
    --color-highlight: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--primary-font);
    font-size: var(--font-xxs);
    background-color: var(--color-lightgrey);
    line-height: 1.6;
}

img {
    max-width: 100%;
}

section {
    padding-top: 8em;
}

.heading {
    color: var(--color-highlight);
    font-size: var(--font-sm);
    text-align: center;
}

.sub-heading {
    font-size: var(--font-xs);
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.list {
    margin: 0 1rem;
    padding: 1rem 0;
    font-family: var(--secondary-font);
}

.item {
    margin-top: 0.5rem;
}

.item__link {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-darkest);
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-light);
    background-color: var(--color-highlight);
    padding: 0.75em 2em;
    border-radius: 100px;
    border: none;
    font-family: var(--primary-font);
}

.btn:hover,
.btn:focus {
    opacity: 0.75;
}

/*********************** Navigation ************************/

header {
    background: var(--color-light);
    padding: 0.5em 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.nav {
    visibility: hidden;
    height: 0;
    position: relative;
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
}

.nav__list {
    margin: 0 auto;
    padding: 1rem 0;
    list-style: none;
}

.nav__item {
    margin-top: 1rem;
}

.nav__link {
    color: var(--color-darkest);
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--font-xs);
}

.nav__link--button {
    background: var(--color-highlight);
    color: var(--color-highlight);
    padding: .25em 1em;
    border-radius: 10em;
}

.nav__link:hover,
.nav__link:focus {
    opacity: .75;
}

.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3rem;
    height: 3rem;
    padding: 0em;
    border-radius: 50%;
    background: var(--color-light);
    transition: opacity 250ms ease;
    position: absolute;
    left: 0;
    margin-top: 0.5rem;
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: 0.75;
}

.hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: var(--color-highlight);
}

.hamburger::before,
.hamburger::after {
    content: "";
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.logo {
    height: 70px;
}

/*********************** Hero ************************/

.hero {
    background: no-repeat center/100% url('../assets/Earth.png') var(--color-light-md);
    position:relative;
    overflow: auto;
    min-height: 100vh;
}

.hero::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#fff,#fff);
    opacity: 0.4; 
    z-index: 1;
}

.logo__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.logo--hero {
    max-width: 30vw;
    position: relative;
    z-index: 2;
}

/*********************** About ************************/

.about {
    margin: 0 2em;
}

.about__text {
    font-family: var(--secondary-font);
}

/*********************** Members ************************/

.members__section {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    gap: 40px;
    justify-items: center;
    align-items: center;
    padding: 0;
}

.member__img {
    max-width: 50vw;
}

/*********************** Resources ************************/

#resources {
    padding-top: 0;
}

.heading-resources {
    padding-bottom: 2em;
}

.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

/*********************** Footer ************************/

footer {
    height: auto;
    padding-bottom: 3em;
}

.list-footer {
    margin: 0 1rem;
    padding: 4rem 0;
    font-family: var(--secondary-font);
}

.logo__container--footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
}

.logo-footer {
    max-width: 25vw;
}

.logo-footer:nth-child(2){
    transition-delay: 600ms;
}
.logo-footer:nth-child(3){
    transition-delay: 700ms;
}
.logo-footer:nth-child(4){
    transition-delay: 800ms;
}

/******** Media Queries **********/

@media(prefers-reduced-motion){
    .hidden {
        transition: none;
    }
}

@media (min-width: 450px) {

    .heading {
        font-size: var(--font-md);
    }
    
    .sub-heading {
        font-size: var(--font-sm);
    }

    .members__section {
        grid-template-columns: repeat(2, 2fr);
    }

    .member__img {
        max-width: 100%;
    }
}

@media (min-width: 600px) {
    .nav__item + .nav__item {
        margin-left: 1em;
    }

    .nav-toggle {
      display: none;
    }
  
    .nav {
      visibility: visible;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      height: auto;
    }
  
    .nav__list {
      display: flex;
      margin: 0;
    }
    
    .nav__list--primary {
      margin: 0 auto;
    }
    
    .nav__item {
      margin: 0 0 0 1.5em;
    }
  
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    /* 
        .logo__container {
            min-height: 900px;
        } */

    .members__section {
        display: grid;
        grid-template-columns: repeat(3, 3fr);
        gap: 40px;
        justify-items: center;
        align-items: center;
    }
    .member__item {}

    .member__img {
        max-width: 20vw;
    }
}

@media (min-width: 960px) {
  
    .hero__img {
      width: 32%;
      align-self: center;
      margin: 0;
    }
}



